<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Usuários</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Lista de Usuários</h1>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Perfil</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.perfil }}</td>
          <td>
            <div class="status-container">
              <span class="status-text">{{ user.status }}</span>
              <span
                class="status-dot {% if user.status.lower() == 'ativo' %}status-active{% else %}status-inactive{% endif %}"
              ></span>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="/">Voltar</a>
  </body>
</html>
